@import '@fontsource/syne-mono';

:root {
	---fg: #ffeb9c;
	---bg: #514c3e;
	---shadow: #413c2d;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	min-height: 100vh;
	color: var(---fg);
	background-color: var(---bg);

	font-family: 'Syne Mono', monospace, sans-serif;
	font-size: clamp(1.5rem, 2vw, 4rem);
}

a {
	color: var(---accent);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button,
input[type='submit'],
input[type='reset'],
input[type='button'] {
	cursor: pointer;
}

h1,
h2,
p {
	margin: 0;
}
